.demo-view {
    width: 100%;
}

.algorythms-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.algorythms-container > div {
    margin: 2vw;
}

.demo-settings-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 3vh 24px;
}

.demo-settings-toolbar > div {
    margin-right: 20px;
}

.demo-settings-toolbar .ms-Slider {
    width: 23vw;
}

.demo-settings-toolbar .ms-CommanBar {
    width: 23vw;
}
