.field {
    border: solid black 5px;
    display: flex;
}

.field > .row > .cell {
    width: 5px; 
    height: 5px;
    background-color: black;
    transition: background-color 2s
}

.field > .row > .cell.passable {
    background-color: white;
}

.field > .row > .cell.entry-point {
    background-color: #5297fe;
}

.field > .row > .cell.destination-point {
    background-color: #8ddf94;
}
